<!DOCTYPE html>
<html>
  <head>
 <title> Archana Careers </title> 
    <style>
      h1 {text-align: center;
         font: size; 40;
         font-family: Calibri;
         font-weight: normal;
         color: rgb(80,80,80);
          }
  h2{text-align: center;
     color: rgb(80,80,80);
     font-family: calibri;
    font-weight:normal;}
      
      #container {
        max-width: 720px;
        margin: 0 auto 0 auto;
       }
    </style>
  </head>
  <body>
    <div id= "container">
    <h1>
        Fluidity Trends 
    </h1>
    
  
   <p>This page is made to upload data into database. Fill the form below and upload the data. The data will be fed into the database accordingly and values will be updated.</p> 
      
    
    <h2>Details</h2>
    
   
  </body>
</html>