   <!DOCTYPE html>
<html>
<head>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<LINK rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<LINK rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<LINK rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<LINK rel="stylesheet" type="text/css" href="styles.css" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="tabcontent.css" />



<SCRIPT type="text/javascript" src="ddlevelsfiles/ddlevelsmenu.js"></SCRIPT>
    <div class="content">

        <div id="container0">
            <div align="center" >
             <!-- <img id="img1" src="sail_logo.png" alt="Sail logo"/>-->
              <h3 align="center" >QR CODE BASED DRWG. RETRIEVAL SYSTEM (User-<span style=" color:#FF0099">'SP3EM'</span>)&nbsp;</br><button id="logout" onclick="logout1();">Logout</button> </h3>
 </div>            
            
    <div class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">
    <button onclick="redirectToSecondPage()">Upload Documents</button>

    <script>
        function redirectToSecondPage() {
            window.location.href = "second.html";
        }
    </script>
    </div>
    
<div class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">
    <button onclick="redirectToPage()">View Documents</button>

    <script>
        function redirectToPage() {
      window.location.href = "http://bspironview/qr_code/qr_entry_screen.jsp";
        }
    </script>
    </div>
       
    </div>
</body>
</html>